<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<atom:link href="{{ self }}" rel="self" type="application/rss+xml" />
<title>{{ settings.title }} Updates</title>
<description>Recent changes in {{ settings.title }}</description>
<link>{{ base }}/w/changes</link>
{% for rev in changes %}
<item>
<title>{{ rev.wiki_page.title }}</title>
<link>{{ base }}/{{ rev.wiki_page.title }}?r={{ rev.version_number }}</link>
<guid>{{ base }}/{{ rev.wiki_page.title }}?r={{ rev.version_number }}</guid>
<pubDate>{{ rev.created|date:"r" }}</pubDate>
<author>{{ rev.author.wiki_user }}</author>
</item>
{% endfor %}
</channel>
</rss>
