{% extends "base.html" %}
{% block title %}Editing "{{ page_title }}"{% endblock %}
{% block heads %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/markitup/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="/static/scripts/markitup/sets/markdown/set.js"></script>
<script type="text/javascript" src="/static/editor.js"></script>
<link rel="stylesheet" type="text/css" href="/static/scripts/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/static/scripts/markitup/sets/markdown/style.css" />
{% endblock %}
{% block content %}
    <h1>Editing "{{ page_title }}"</h1>
    <form action="/{{ page_name }}" method="POST" class="markdown">
    	<textarea rows="20" cols="80" name="body" id="editor">{% if current_version.revision_body %}{{ current_version.revision_body }}{% else %}# {{ page_title }}

**{{ page_title }}** is...{% endif %}</textarea>
{% if not settings.pread %}
<p><label><input type="checkbox" value="True"{% if current_version.pread %} checked="checked"{% endif %} name="pread"/>Let the public read this page</label></p>
{% endif %}
<p class="hint">You can use HTML and <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> for formatting, <a class="int" href="/w/interwiki" target="_blank">interwikis</a> for linking.</p>
    	<input type="submit" value="Save Changes"/> or <a class="int" href="{{ page_name }}">cancel</a>
    </form>
{% endblock %}
