{% extends "base.html" %}
{% block heads %}{% if page_exists %}
  <link rel="alternate" type="application/x-wiki" href="/w/edit?page={{ page.title }}"/>
{% endif %}{% endblock %}
{% block content %}
<ul id="tabs"{% if page.pread %}{% else %} class="locked"{% endif %}>
  <li class="active"><a class="view" href="/{{ page.title }}">View</a></li>
  <li><a href="/w/edit?page={{ page.title|escape }}">Edit</a></li>
  <li><a href="/w/history?page={{ page.title|escape }}">History</a></li>
</ul>
<div class="wtabs extl" id="pb">
  {% if page_exists %}
    {{ page_text }}
  {% else %}
    <h1>{{ page_title }}</h1>
    <p>This page does not exist.</p>
    <form method="get" action="/w/edit">
      <input type="hidden" name="page" value="{{ page_title|escape }}"/>
      <input type="submit" value="Create it"/>
    </form>
  {% endif %}
</div>
{% endblock %}
