{% extends "base.html" %}
{% block title %}{{ page_title|escape }}{% endblock %}
{% block content %}
<ul id="tabs">
  <li><a href="{{ page_title|pageurl }}">View</a></li>
  {% if can_edit %}
  <li><a href="/w/edit?page={{ page_title|uurlencode }}">Edit</a></li>
  {% endif %}
  <li class="active"><a href="/w/history?page={{ page_title|uurlencode }}">History</a></li>
</ul>
<div id="pb" class="wtabs">
<h1>{{ page_title|escape }}</h1>
<p>The following revisions are available:</p>
<form method="GET" action="/w/diff/"><ul>
  <li><input checked="checked" id="r2" name="r2" type="radio" value="">
		<input id="r1" name="r1" type="radio" value="" disabled="disabled">
		<a class="int" href="{{ page_title|pageurl }}">Current Revision</a></li>
{% for revision in revisions %}
  <li><input id="r2-{{ revision.key }}" name="r2" type="radio" value="{{ revision.key }}"{% if forloop.last %} disabled="disabled"{% endif %}>
		<input checked="checked" id="r1-{{ revision.key }}" name="r1" type="radio" value="{{ revision.key }}">
		<a class="int" href="{{ page_title|pageurl }}?r={{ revision.key }}">Revision from {{ revision.created|timezone|date:"Y/m/d H:i:s"}}</a></li>
{% endfor %}</ul><input type="submit" value="diff" /></form>
</div>
{% endblock %}
