{% extends "base.html" %}
{% block heads %}{% if can_edit %}
  <link rel="alternate" type="application/x-wiki" href="/w/edit?page={{ page_title|uurlencode }}"/>
{% endif %}{% endblock %}
{% block title %}{{ page.title|escape }} — {{ settings.title|escape }}{% endblock %}
{% block content %}
<ul id="tabs"{% if public_page %}{% else %} class="locked"{% endif %}>
  <li class="active"><a class="view" href="{{ page.title|pageurl }}">View</a></li>
  {% if can_edit %}<li><a href="/w/edit?page={{ page.title|uurlencode }}{% if page.revision %}&amp;r={{ page.revision }}{% endif %}">Edit</a></li>{% endif %}
  <li><a href="/w/history?page={{ page.title|uurlencode }}">History</a></li>
</ul>
<div class="wtabs extl" id="pb">
  {% if page.is_saved %}
    {{ page.body|wikify }}
    {% if page_options.labels %}
      <p class="categories">{% if settings.labels_text %}{{ settings.labels_text }}{% else %}Labels{% endif %}: {% for label in page_options.labels %}{% if forloop.first %}{% else %}, {% endif %}<a class="int" href="{{ label|labelurl }}">{{ label|escape }}</a>{% endfor %}.</p>
    {% endif %}
  {% else %}
    <h1>{{ page.title }}</h1>
    <p>This page does not exist.</p>
    <form method="get" action="/w/edit">
      <input type="hidden" name="page" value="{{ page.title|escape }}"/>
      <input type="submit" value="Create it"/>
    </form>
  {% endif %}
</div>
{% endblock %}
